{{#link-to 'question' question.id}}
<li>Question: {{question.questionTitle}}</li>
<li>Submitted by: {{question.author}}</li>
<li>Content: {{question.comment}}</li>
<li>Answer: {{question.answer}}</li>
{{/link-to}}
<!-- {{update-question question=question update="update"}}
<button {{action 'delete' question}}>Delete</button>
<hr> -->
