<h1>WELCOME</h1>

<ul>
  {{#each model.answers as |answer|}}
    {{answer-tile answer=answer}}
  {{/each}}
</ul>


{{update-question question=model update="update"}}

{{question-tile question=model destroyQuestion="destroyQuestion"}}

{{new-answer question=model save2="save3"}}
<br>
<button class="btn btn-danger" {{action 'destroyQuestion' model}}>Delete</button>
