<h1>WELCOME</h1>





{{question-tile question=model destroyQuestion="destroyQuestion"}}

{{new-answer question=model save2="save3"}}
<br>
<h2>Here are all of the answers</h2>
<br>
<ul>
  {{#each model.answers as |answer|}}
    {{answer-tile answer=answer}}
  {{/each}}
</ul>
{{display-favorite}}
<br>

{{update-question question=model update="update"}}
<br>
<button class="btn btn-danger" {{action 'destroyQuestion' model}}>Delete</button>
